@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia.eot");
  src: url("../fonts/Georgia.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia.woff") format("woff"), url("../fonts/Georgia.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Georgia';
  src: url("../fonts/Georgia-Bold.eot");
  src: url("../fonts/Georgia-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Georgia-Bold.woff") format("woff"), url("../fonts/Georgia-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Georgia';
}

body {
  background-color: #1f1f1f;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.header .concomitant {
  padding: 0 30px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 5px solid #81b300;
}

.header .concomitant-text {
  padding: 36px 0 37px 0;
}

.header .concomitant-text__title {
  color: #333333;
  font-size: 36px;
  font-weight: 400;
  text-transform: uppercase;
}

.header .concomitant-text__subtitle {
  margin-top: 15px;
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
}

.header .concomitant-icons ul, .header .concomitant-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .concomitant-icons ul li, .header .concomitant-links ul li {
  list-style: none;
}

.header .concomitant-icons ul li a, .header .concomitant-links ul li a {
  text-decoration: none;
}

.header .concomitant-icons {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  height: 49px;
  background-color: #81b300;
}

.header .concomitant-icons ul {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header .concomitant-icons ul li {
  margin-top: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header .concomitant-icons ul li a {
  display: block;
  color: #ffffff;
  text-align: center;
}

.header .concomitant-icons ul li:hover {
  background-color: #00acee;
}

.header .concomitant-links {
  margin-top: 37px;
}

.header .concomitant-links li {
  margin-left: 8px;
}

.header .concomitant-links li a {
  color: #81b300;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.header .concomitant-links li a:hover {
  text-decoration: underline;
}

.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 30px;
  min-height: 70px;
  background-color: #81b300;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .menu__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu ul li {
  margin-right: 20px;
  list-style: none;
}

.header .menu ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-transform: uppercase;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.header .menu ul li a:hover {
  color: #000000;
}

.header .menu__form {
  min-width: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .menu__form .menu__txt {
  padding-left: 9px;
  width: 215px;
  height: 30px;
  background-color: #ffffff;
  border: none;
  outline: none;
  border-right: 1px solid #dddddd;
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 400;
}

.header .menu__form .menu__btn {
  border: none;
  outline: none;
  height: 30px;
  width: 67px;
  background-color: #ffffff;
  color: #81b300;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

.slider .container {
  background-color: #f2f2f2;
  padding: 30px;
}

.slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 898px;
  width: 100%;
  min-height: 378px;
  border: 1px solid #e6e6e6;
}

.slider__img img {
  width: 100%;
  max-width: 880px;
}

.slider__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 22px;
}

.slider__pagination .slider__arrow-left {
  margin-right: 10px;
}

.slider__pagination .slider__circle {
  display: inline-block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  background-color: #333333;
  margin-right: 10px;
}

.slider__pagination .slider__circle_active {
  background-color: #f2f2f2;
  border: 1px solid #333333;
}

.services .container {
  padding: 52px 30px 50px 30px;
  background-color: #ffffff;
}

.services-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-info__item {
  margin-right: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.services-info__item:last-child {
  margin-right: 0;
}

.services-info__title {
  margin-top: 20px;
  color: #81b300;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}

.services-info__text {
  margin-top: 20px;
  color: #888888;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
}

.services .separator {
  width: 900px;
  margin: 50px auto 0;
  height: 1px;
  background-color: #e2e2e2;
}

.services-img {
  padding-top: 51px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.services-img__item {
  margin-right: 22px;
}

.services-img__item:last-child {
  margin-right: 0;
}

.services-img__border {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #e2e2e2;
}

.services-img__border img {
  width: 100%;
  -o-object-fit: none;
     object-fit: none;
  -o-object-position: center center;
     object-position: center center;
}

.services-img__title {
  margin-top: 20px;
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 16.8px;
}

.services-img__text {
  margin-top: 14px;
  color: #878787;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
}

.services-img__link {
  margin-top: 14px;
  display: block;
  color: #81b300;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  text-align: right;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.services-img__link:hover {
  text-decoration: underline;
}

.footer .container {
  padding: 41px 30px 37px 30px;
  background-color: #3b3b3b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .contact {
  max-width: 198px;
}

.footer .contact__title {
  color: #666666;
  font-family: Georgia;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-transform: uppercase;
}

.footer .contact__text {
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.8px;
}

.footer .contact__text .contact__info-text {
  margin-top: 30px;
}

.footer .contact__text .contact__links {
  margin-top: 30px;
}

.footer .contact__text .contact__links a {
  display: block;
  font-size: 12px;
  line-height: 19.2px;
  text-decoration: none;
  color: #999999;
  font-weight: 400;
}

.footer .contact__text .contact__links a:hover {
  text-decoration: underline;
}

.footer .links {
  max-width: 210px;
  width: 100%;
}

.footer .links__title {
  color: #666666;
  font-family: Georgia;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-transform: uppercase;
}

.footer .links__wrapper {
  margin-top: 30px;
}

.footer .links__text {
  margin-top: 10px;
  width: 100%;
  border-bottom: 1px solid #484848;
}

.footer .links__text a {
  text-decoration: none;
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}

.footer .links__text a:hover {
  color: #4d4d4d;
}

.footer .blog {
  max-width: 210px;
}

.footer .blog__title {
  color: #666666;
  font-family: Georgia;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-transform: uppercase;
}

.footer .blog__text {
  margin-top: 30px;
}

.footer .blog__text .blog__subtitle {
  color: #999999;
  font-size: 13px;
  font-weight: bold;
  line-height: 15.6px;
}

.footer .blog__text .blog__posted {
  margin-top: 7px;
  color: #999999;
  font-size: 11px;
  font-weight: 400;
  line-height: 13.2px;
}

.footer .blog__text .blog__info {
  margin-top: 11px;
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 19.2px;
}

.footer .blog__text a {
  margin-top: 7px;
  display: block;
  color: #81b300;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
  text-decoration: none;
  text-align: right;
}

.footer .blog__text a:hover {
  text-decoration: underline;
}

.footer .newsletter {
  max-width: 210px;
}

.footer .newsletter__title {
  color: #666666;
  font-family: Georgia;
  font-size: 13px;
  font-weight: 400;
  line-height: 15.6px;
  text-transform: uppercase;
}

.footer .newsletter__form {
  margin-top: 30px;
}

.footer .newsletter__form input {
  padding-left: 10px;
  width: 210px;
  height: 31px;
  background-color: #1f1f1f;
  border: none;
  outline: none;
  border-radius: 7px;
  margin-bottom: 10px;
  color: #999999;
  font-size: 13px;
  font-weight: 400;
  line-height: 20.58px;
}

.footer .newsletter__form button {
  width: 80px;
  height: 31px;
  background-color: #1f1f1f;
  border: none;
  outline: none;
  border-radius: 7px;
  color: #81b300;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
}

.subfooter .container {
  background-color: #2e2e2e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 25px 30px 22px;
  color: #737373;
  font-size: 12px;
  font-weight: 400;
  line-height: 14.4px;
}
/*# sourceMappingURL=style.css.map */